.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}


/* footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */

footer {
  margin-top: 30vh;
}

.nav-item {
  cursor: pointer;
}

.hero-image img {
  display: block;
  margin: auto;
  border-radius: 1%;
  width: 50vw;
}